@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --hue: 166;
  --primary-color: hsl(var(--hue), 78%, 43%);
  --secondary-color: hsl(var(--hue), 48%, 70%);
  --fc: hsl(car(--hue), 78%, 15%);
  --Bg-color: #fff
}

body{
  display: flex;
  gap: 1.8rem;
  height: 100vh;
}
.sidebar-nav-icon, #searchInput, .user, .businessLogo{
  opacity: 0;
  visibility: hidden;
}

img{
  object-fit: cover;
}

.sidebar{
  position: relative;
  width: 7.8rem;
  height: 100vh;
  
  background-color: var(--primary-color);
  
  display: flex;
  flex-direction: column;
  
  padding-top: 1.4rem;
  
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;

  transition: all 0.3s ease-in-out;
}

nav .sidebarHeader{
  display: flex;
  justify-content: space-between;
  margin: 0 1.4rem 2.6rem 2.9rem;
}

nav #sidebarMenuButton{
  position: absolute;
  left: 2.7rem;
  top: 2.6rem;
}

#sidebarMenuButton, #logoutButton{
  background: none;
  cursor: pointer;
  border: none;
}

.search{
  position: relative;
  margin:0 1.4rem 2rem 1.4rem;
}

.search label{
  position: absolute;
  padding: 1.3rem;
}

.search #searchInput{
  width: 100%;
  height: 5.1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--secondary-color);
  padding: 1.4rem 5rem;
  outline: none;
}

nav ul{
  list-style: none;
  margin-left: 1.6rem;
  margin-right: 1.4rem;
}

nav ul li + li{
  margin-top: 0.8rem;
}

.navLinks{
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--fc);
}

.navLinks img{
  padding: 1.3rem;
}

.navLinks img.on:hover, .search label.on:hover{
  background-color: #fff;
  border-radius: 1.8rem;
}

.navLinks span, nav footer .user .nameUser p{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: var(--fc);
}

nav footer {
  position: absolute;
  left: 0;
  bottom: 0;
  
  width: 100%;
  height: 6rem;
  background-color: var(--secondary-color);
  
  display: flex;
  gap: 4.7rem;
  justify-content: space-between;
  align-items: center;
  
  padding: .8rem 1.4rem;
}

nav footer #logoutButton{
  position: absolute;
  left: 2.8rem;
  bottom: 1.8rem;
}

nav footer .user{
  display: flex;
  gap: .9rem;
  align-items: center;
}

nav footer .user .userName span{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

nav footer .user figure img{
  height: 4.5rem;
  width: 4.5rem;

  border-radius: 1.2rem;
}

/* Menu interativo aberto */

.active, #searchInput.active{
  opacity: 1;
  visibility: visible;
}

.navLinks.on:hover{
  background-color: #fff;
  border-radius: 1.8rem;
}

.sidebar.active{
  width: fit-content;
}

#sidebarMenuButton.active, #logoutButton.active{
  position: static;
}

#app{
  overflow-y:auto;
  max-height: 100vh;
  width: fit-content;
}



