@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  font-size: 62.5%;
  --hue: 166;
  --primary-color: hsl(var(--hue), 78%, 43%);
  --secondary-color: hsl(var(--hue), 48%, 70%);
  --Bg-color: #fff
}

.sidebar{
  width: 250px;
  height: 100vh;
  background-color: var(--primary-color);
}